<div class=" row col-md-3">
   <div class="col-md-1 side-nav">
    <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <br>
        <ul class="nav navbar-nav">
            <li ng-class="{active : vm.showBoardBlade}"><a ng-click="vm.onClick_selectBlade('boards')"><span class="glyphicon glyphicon-th-large"></span></a></li>
            <li ng-class="{active : vm.showConfigBlade}"><a ng-click="vm.onClick_selectBlade('config')"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
    </div>
   </div>
  <div class="col-md-6" style="position:fixed">
  
    <div ng-if="vm.showBoardBlade || vm.showUserBlade" class="side-menu-secondary">
    <div class="input-group"style="width:100%;"><input type="text" class="form-control" style="height:50px;" placeholder="Search"/></div>
    <br>
    <br>
    <nav ng-if="vm.currentUser.authorizedBoards" class="navbar navbar-default" role="navigation">

    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <li ng-if="vm.showBoardBlade"ng-repeat="board in vm.boards" ng-class="{active : vm.activeData.key === board.key}"><a ng-click="vm.onClick_viewChild('board',board)">{{board.name}}</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
    </div>
 </div>
  </div>

<!--END SIDEBAR-->
<div class="col-md-3 detail-body" >
<div ng-if="vm.showUserDetail || vm.showUserConfig">
<div class="panel panel-default">
    <div class="panel-heading">
            <h3 class="panel-title">{{vm.backupData.name || vm.activeData.name}}</h3>
        </div>
  <div class="panel-body">
      <br>
    <div class="col-md-12">
      <div class="panel panel-default">
          
      <div class="panel-body"style="padding-top:5px;">
                <h4><span class="label label-info" >Basic Info</span></h4>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="vm.activeData.name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="vm.activeData.email">
      </div>
      <div ng-if="vm.creatingNew"class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="text" class="form-control"  ng-model="vm.activeData.password">
      </div>
      <div ng-if="!vm.creatingNew" class="form-group">
        <label for="exampleInputEmail1">User Key</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.currentUser.key" disabled>
      </div>
      <div class="form-group">
        <label for="profileSelect">Profile Type</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.currentUser.type" disabled>
      </div>
     
    </div>
    
      </div>
    </div>
  </div>
  <div class="panel-footer" style="height:50px;">
      <div class="btn-group-sm">
        <div class="btn btn-default pull-right" style="color:green"ng-click="vm.onClick_saveUser()">Save</div>
      </div>
    </div>
</div>
</div>
<!--BEGIN BOARD DETAIL PANEL-->
  <div ng-if="vm.showBoardDetail">
    <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">{{vm.activeData.name || '[UNTITLED]'}}</h3>
  </div>
  <div  class="panel-body" >
    <div class="col-md-12">
        <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px">
      <h4><span class="label label-info">Basic Info</span></h4>
      <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="vm.activeData.name">
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Board Key</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.activeData.key" disabled>
      </div>
      <button ng-if="!vm.creatingNew" type="button" ng-click="vm.onClick_openBoard()" class="btn btn-primary">Go to Board</button>
    </div>
    </div>
    </div>
  </div>
  <div class="panel-footer" style="height:50px;">
    </div>
  </div>
  </div>
  </div>
</div>
<!--BEGIN BOARD DETAIL PANEL-->
  <!--<div ng-if="vm.showBoardDetail">
    <div class="panel panel-default" style="height:100vh;">
   <div class="panel-heading">
    <h3 class="panel-title">{{vm.activeData.name}}</h3>
  </div>
  <div  class="panel-body">
    <div class="col-md-5">
        <div class="panel panel-default">
      <div class="panel-body">
      <h4><span class="label label-info">Basic Info</span></h4>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="vm.activeData.name">
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Board Key</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.activeData.$id" disabled>
      </div>
      <button ng-if="!vm.creatingNew" type="button" ng-click="vm.onClick_openBoard()" class="btn btn-primary">Go to Board</button>
    </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
      <div class="panel-body">
      <h4><span class="label label-success">Configurations</span></h4>
    <div class="col-md-6">
      <h4 ng-if="!vm.creatingNew && vm.activeData.logs"><span class="label label-danger">Recent Activity</span></h4>
    </div>
    </div>
        </div>
  </div>
  </div>
  </div>
  </div>-->
  </div>
</div>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Manage Boards</h4>
      </div>
      <div class="modal-body">
        <p>Select boards the user can edit</p>
        <div class="list-group">
          <a ng-repeat="board in vm.boards" class="list-group-item list-group-item-action">{{board.name}} 
              <button ng-click="vm.onClick_authorizeBoard(board)" type="button" class="btn-group pull-right btn btn-xs" align="right">
                <i class="glyphicon glyphicon-plus" style="color: green"/>
              </button>
        </a>
        </div>
              </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>