<div name="under consideration" class="drop-zone">
    <div ng-repeat="story in vm.stories track by $index">
    <div id="{{story.$id}}"class="notecard drag" ng-if="story.status == 'under consideration'">
        <div class="userstory_key">
        <input class="userstory_name" type="text" ng-change="vm.onChange_updateStory(story);" ng-model="story.name">
        <span style="position:absolute;right:0;top:0;margin:4px" class="badge">1 point</span>
        <!--<p class="pointsText display notecardElement">-</p>-->
        </div>
        <!--drop down provided by W3 schools-->
        <div class="story_body">
            <textarea ng-change="vm.onChange_updateStory(story);" ng-model="story.body"></textarea>
        </div>
        <select ng-model="story.status" ng-change="vm.onChange_updateStory(story)">
            <option ng-repeat="option in vm.storyStates" value="{{option}}">{{option}}</option>
        </select>
        <!-- everything updates live <button class="save" type="button" class="btn btn-default" ng-click="vm.onChange_updateStory(story);">Save</button> -->
    </div>
</div>
</div>
<div id="sortable">
<div ng-repeat="story in vm.stories track by $index">
    <div id="{{story.$id}}"class="notecard drag" ng-if="story.status != 'discarded'&&story.status != 'under consideration'">
        <div class="userstory_key">
        <input class="userstory_name" type="text" ng-change="vm.onChange_updateStory(story);" ng-model="story.name">
        <span style="position:absolute;right:0;top:0;margin:4px" class="badge">1 point</span>
        <!--<p class="pointsText display notecardElement">-</p>-->
        </div>
        <!--drop down provided by W3 schools-->
        <div class="story_body">
            <textarea ng-change="vm.onChange_updateStory(story);" ng-model="story.body"></textarea>
        </div>
        <select ng-model="story.status" ng-change="vm.onChange_updateStory(story)">
            <option ng-repeat="option in vm.storyStates" value="{{option}}">{{option}}</option>
        </select>
        <!-- everything updates live <button class="save" type="button" class="btn btn-default" ng-click="vm.onChange_updateStory(story);">Save</button> -->
    </div>
</div>
<div id="new_story" class="notecard drag">
    <div class="userstory_key create_userstory_key">
        <input type="text" ng-model="vm.newStory.name" placeholder="new user story name"></input>
    </div>
    <div class="story_body">
        <textarea ng-model="vm.newStory.body"></textarea>
    </div>
    <select ng-model="vm.newStory.status">
        <option ng-repeat="option in vm.storyStates" value="{{option}}">{{option}}</option>
    </select>
    <button class="save btn btn-default" type="button" ng-click="vm.onClick_CreateStory();clearNewStory();">Save new story</button>
</div>
</div>