div.userstory_key, div.create_userstory_key {
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 4px;
}
div.userstory_key {
    padding: 6px;
}
div.userstory_key input, div.create_userstory_key input {
    border: none;
    width: 100%;
    background: none;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
}
div.create_userstory_key input {
    padding: 4px;
}

/* styles */
body {
    background: url("img/blackboard.jpg") repeat-x center center fixed; 
}
nav.navbar {
    background: url("img/woodpic.jpg") repeat-x center center fixed; 
	
}

.dropbtn {
	font-size: 14px;
	background: url("img/woodpic.jpg") repeat-x center center fixed;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	float: left;                                                                      
    position: relative;
    display: inline-block;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nav button:hover .dropbtn {
	   background-color: #3e8e41;
}

/* storyboard */

p.nomargin {
margin-bottom: 0px;
margin-top: 0px;
}
.newNoteCard {
background: url("img/blank-index-card-2.png");
height: 320px;
width: 540px;
border: thick;
border-color: black;
}

.notecard {
/*background-image: url("img/blank-index-card-2.png");
background-repeat: no-repeat;
background-size: cover;*/
background-color: #eee8aa;
height: 200px;
width: 350px;
border: thick;
border-color: black;
float: left;
margin: 4px;
position:relative;
}

.notecardElement {
    border-style: hidden;
    background-color: rgba(0,0,0,0);
    height: 30px;
}

.storyTitle {
    width: 480px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.notecardContent{
    font-size: large;
    position: absolute;
    top: 40px; bottom: 30px;
    padding-left: 4px;
    width: 100%;
    
}
div.notecardContent textarea {
    background: none;
    border: none;
    width: 100%; height: 100%;
}

div.notecard select {
    position:absolute;
    bottom:0;
    left:0;margin:4px;
}
div.notecard button.save {
    position:absolute;
    bottom:0;
    right:0;
    margin:4px;
}
.title{
width: 290px;
margin-bottom: 20px;
padding-left: 10px;
}
.notecard p{
    display: inline-block;
}
.pointsText {
    width: 40px;
    position: relative;
    right: 0px;
    top: 0px;

}

.storyBody {
    width: 530px;
    height: 70px;
    margin-top: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 10px;
}

.newNoteCard button{
	width: 270px;
	height: 30px;
	background-color: gray;
	color: white;
}

.newNoteCard #save:hover{
	background-color: green;
}

.newNoteCard #cancel:hover{
	background-color: red;
}

