/* page formatting */
body {
    background: url("img/blackboard.jpg") repeat-x center center fixed; 
}
/* end page formatting */

/* navbar formatting */
nav.navbar {
    background: url("img/woodpic.jpg") repeat-x center center fixed; 
}
nav.navbar div.container-fluid div.navbar-header a.navbar-brand {
    color: #FFF;
}
nav.navbar div.container-fluid ul.nav li a
{
    background: none; box-shadow: none;
    color: #FFF;
    padding-top: 15px; padding-bottom: 15px;
}
nav.navbar div.container-fluid ul.nav li.active a
{
    padding-top: 15px; padding-bottom: 11px;
    border-bottom: 4px solid white;
}
nav.navbar div.container-fluid ul.nav li a:hover {
    background: none;
    color: #FFF;
    padding-top: 15px; padding-bottom: 11px;
    border-bottom: 4px solid grey;
}

nav.navbar .dropbtn {
	font-size: 14px;
	background: url("img/woodpic.jpg") repeat-x center center fixed;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}
nav.navbar .dropdown {
	float: left;                                                                      
    position: relative;
    display: inline-block;
}
nav.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
nav.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
nav.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}
nav.navbar .dropdown:hover .dropdown-content {
    display: block;
}
nav.navbar .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

nav.navbar button:hover .dropbtn {
   background-color: #3e8e41;
}
/* end navbar formatting */

/* board formatting */


/* grid and drop zone */
div.grid-host {
    display: grid;
}
div.drop-zone div.drop-grid {
    display: grid;
}
div.drop-zone-header {
    height: 32px;
}
div.drop-zone-header h1 {
    font-size: 28px;
    margin: 0; margin-left: 8px;
    color: var(--theme-color);
}
/* mvp line */
div.drop-zone.mvp {
    border-bottom: 4px solid #A33;
}
/* themes */
div.drop-zone.mvp {
    --theme-color: #DAA;
}
div.drop-zone.accepted {
    --theme-color: #DDA;
}
div.drop-zone.stretch {
    --theme-color: #AAD;
}
div.drop-zone.under-consideration {
    --theme-color: #DAD;
}
/* media queries below (todo) */
div.grid-host {
    --total-columns: 5;
}
div.drop-zone.mvp {
    --theme-color: #DAA;
    --num-columns: var(--total-columns);
    grid-column: 1 / 6;
}
div.drop-zone.accepted {
    --theme-color: #DDA;
    --num-columns: 3;
    grid-column: 1 / 4;
}
div.drop-zone.stretch {
    --theme-color: #AAD;
    --num-columns: 1;
    grid-column: 4 / 5;
}
div.drop-zone.under-consideration {
    --theme-color: #DAD;
    --num-columns: 1;
    grid-column: 5 / 6;
}
/* spawn parent grid */
div.grid-host {
    grid-template-columns: repeat(var(--total-columns), calc(100vw / var(--total-columns))); 
}
/* spawn child grids */
div.drop-zone div.drop-grid {
    grid-template-columns: repeat(var(--num-columns), calc(100vw / var(--total-columns)));
}
/* end grid and drop zone */

/* user story formatting */
/*#sortable > div { float: left; }*/

div.notecard {
    --notecard-margin: 4px;
    background-color: var(--theme-color);
    width: calc(100% - (var(--notecard-margin) * 2));
    height: 20vh;
    margin: var(--notecard-margin);
}

div.userstory_key {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
    height: 10%;
    padding: 6px;
}
div.userstory_key input {
    background: none;
    width: 100%;
    border: none;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
}
div.story_body {
    font-size: large;
    padding: 4px;
    width: 100%;
    height: 80%;
	margin-top:0px;
}
div.story_body textarea {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}
div.notecard select {
    bottom: 0; left: 0;
    position: absolute;
    margin: 4px;
}

/* end user story formatting */
/* new notecard formatting */
button.save {
    margin: 0px;
}
.newNoteCard button.cancel{
	margin: 0px;
	}
.ess_buttons{
	bottom: 0; right: 0;
	margin: 0px;
	padding: 0px;
	position: absolute;
	display: inline-block;
}
div.newNoteCard {
z-index: 1;
height:400px; width: 700px; 
display: none;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
position: relative;
border: bold;
border-color: black;
}