/* page formatting */
:root {
    font-size: 12px;
}
body {
    background: url("img/blackboard.jpg") repeat-x center center fixed; 
}
/* end page formatting */

/* navbar formatting */
nav.navbar {
    background: url("img/woodpic.jpg") repeat-x center center fixed; 
}
nav.navbar div.container-fluid div.navbar-header a.navbar-brand {
    color: #FFF;
}
nav.navbar div.container-fluid ul.nav li a
{
    background: none; box-shadow: none;
    color: #FFF;
    padding-top: 15px; padding-bottom: 15px;
}
nav.navbar div.container-fluid ul.nav li.active a
{
    padding-top: 15px; padding-bottom: 11px;
    border-bottom: 4px solid white;
}
nav.navbar div.container-fluid ul.nav li a:hover {
    background: none;
    color: #FFF;
    padding-top: 15px; padding-bottom: 11px;
    border-bottom: 4px solid grey;
}

nav.navbar .dropbtn {
    background: url("img/woodpic.jpg") repeat-x center center fixed;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}
nav.navbar .dropdown {
    float: left;                                                                      
    position: relative;
    display: inline-block;
}
nav.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
nav.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
nav.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}
nav.navbar .dropdown:hover .dropdown-content {
    display: block;
}
nav.navbar .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

nav.navbar button:hover .dropbtn {
   background-color: #3e8e41;
}
/* end navbar formatting */

/* board formatting */


/* grid and drop zone */
div.grid-host {
    display: grid;
}
div.drop-zone div.drop-grid {
    display: grid;
}
div.drop-zone-header {
    height: 3rem;
}
div.drop-zone-header h1 {
    font-size: 2rem;
    margin: 0; margin-left: 8px;
    color: var(--theme-color);
}
/* mvp line */
div.drop-zone.mvp {
    border-bottom: 4px solid #A33;
}
/* themes */
div.drop-zone.mvp {
    --theme-color: #DAA;
}
div.drop-zone.accepted {
    --theme-color: #DDA;
}
div.drop-zone.stretch {
    --theme-color: #AAD;
}
div.drop-zone.under-consideration {
    --theme-color: #DAD;
}
/* media queries below (todo) */
div.grid-host {
    --total-columns: 5;
}
div.drop-zone.mvp {
    --theme-color: #DAA;
    --num-columns: var(--total-columns);
    grid-column: 1 / 6;
}
div.drop-zone.accepted {
    --theme-color: #DDA;
    --num-columns: 3;
    grid-column: 1 / 4;
}
div.drop-zone.stretch {
    --theme-color: #AAD;
    --num-columns: 1;
    grid-column: 4 / 5;
}
div.drop-zone.under-consideration {
    --theme-color: #DAD;
    --num-columns: 1;
    grid-column: 5 / 6;
}
/* spawn parent grid */
div.grid-host {
    grid-template-columns: repeat(var(--total-columns), calc(100vw / var(--total-columns))); 
}
/* spawn child grids */
div.drop-zone div.drop-grid {
    grid-template-columns: repeat(var(--num-columns), calc(100vw / var(--total-columns)));
}
/* end grid and drop zone */

/* user story formatting */
/*#sortable > div { float: left; }*/

div.notecard {
    --notecard-margin: 4px;
    background-color: var(--theme-color);
    width: calc(100% - (var(--notecard-margin) * 2));
    height: 20vh;
    margin: var(--notecard-margin);
    
    display: grid;
    grid-template-rows: 2rem calc(100% - 4rem) 2rem;
}

div.userstory_key {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 4px;
    
    grid-row: 1;
}
div.userstory_key input {
    background: none;
    width: 100%;
    border: none;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
}
div.story_body {
    padding: 4px;
    
    grid-row: 2;
}
div.story_body textarea {
    font-size: 1rem;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}
div.notecard select {
    bottom: 0; left: 0;
    position: absolute;
    margin: 4px;
}
div.notecard div.bottom_margin {
    grid-row: 3;
    padding-left: 4px; padding-right: 4px;
    height: 100%;
}
div.badge.flag {
    font-size: 1rem;
    
}
div.badge.flag-duplicate {
    background-color: #aa4;
}
div.badge.flag-jargon {
    background-color: #4aa;
}
button.debug-order {
    display: none;
}
/* end user story formatting */
/* notecard_brief formatting */

/*  */
/* modal notecard formatting */
div.modal.modal_story{
    height: 100%;
    width: 100%;
    position: absolute;
    align: center;
}
div.cancel_modal{
    opacity: .7;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index:-1;
}
div.notecard_detailed {
    background-color: #DDA;
    height: 80vh; width: 80vw;
    display: grid;
    margin: 0 auto;
    margin-top: 80px;
    position: absolute;
    border: bold;
    border-color: black;
    
    grid-template-rows: 8rem calc(100% - 12rem) 4rem;
}
div.notecard_detailed div.bottom_margin{
    bottom: 0; right: 0;
    margin: 0px;
    padding: 4px;
}
div.notecard_detailed div.bottom_margin button{
    height: 100%;
    float: right;
}
div.notecard_detailed button.save, div.notecard_detailed button.cancel {
    margin: 0px;
}